---
name: CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "15 6 * * 0"  # Once weekly, on Sundays

jobs:
  build:
    name: "Perl v${{ matrix.perl-version }}"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl-version:
          - "latest"
          - "5.36"
          - "5.34"
          - "5.32"
          - "5.30"
          - "5.28"
          - "5.26"
          - "5.24"
          - "5.22"
          - "5.20"

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Perl version
        run: perl -V

      - name: DZil version
        run: dzil --version

      - name: Install dependencies
        uses: perl-actions/install-with-cpm@stable
        with:
          sudo: false
          cpanfile: "cpanfile"
          args: "--with-all"

      - name: Test
        run: dzil test --all

      - name: Archive CPM logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: build.log
          path: ~/.perl-cpm/build.log*
